body {
    display: grid;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    color: black;
    height: 100%;
}
.container {
    width: 50%;
    margin: 10px auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    
}

.result {
    height: 70px;
    border: 3px solid gray;
    background-color: lightgray;
    border-radius: 10px;
    text-align: right;
    padding: 10px;
    position: relative;
    align-content: center;
}

.buttons {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    height: auto;
    flex: 1;
}
button, .result {
    font-size: 2em;
}

@media screen and (max-width: 700px) {
    .container {
        width: 100%
    }
}

#zero {
    grid-area: 5 / 2 / span 1 / span 1;
}

button {
    background-color: gray;
    -webkit-text-fill-color: black;
    color: black;
    -webkit-appearance: none;
    appearance: none;
    touch-action: manipulation;
}

@media (hover: hover) and (pointer: fine) {
    button:hover {
    background-color: lightgray;
    }
}

